<div layout-padding style="overflow: auto; height: 100%">
  <h1 class="md-headline">FTS Workspace Builder</h1>

  <mdc-tab-bar-scroller>
    <mdc-tab-bar ng-model="builder.activeTab">
      <mdc-tab ng-bind="'1. Select Widget'"></mdc-tab>
      <mdc-tab ng-bind="'2. Preview'"></mdc-tab>
    </mdc-tab-bar>
  </mdc-tab-bar-scroller>


  <div ng-if="builder.activeTab == 0" flex layout-padding>
    <div flex layout="row">
      <div flex layout="column">
        <p><strong>Select a Widget:</strong></p>
        <mdc-select prompt="Select a widget" ng-model="builder.selectedWidget">
          <option ng-repeat="widget in builder.widgetList" ng-value="$index" ng-bind="widget.name"></option>
        </mdc-select>
      </div>
      <div flex>
        <p><strong>Select a Theme:</strong></p>
        <mdc-select prompt="Theme" ng-model="builder.selectedTheme">
          <option ng-repeat="theme in builder.themes" value="{{theme}}" ng-bind="theme"></option>
        </mdc-select>
      </div>
    </div>

    <div flex layout="column">
      <div ng-if="builder.selectedWidget !== undefined">
        <p><strong>Options:</strong></p>
        <p class="small-text">
          Want to learn more about what options are available? Check out the
          <a href="https://fts-widgets.restlet.io" target="_blank"><strong>documentation</strong></a>.
        </p>
        <div flex ng-repeat="option in builder.widgetList[builder.selectedWidget].options">
          <mdc-textfield dense="true" ng-if="option.type === undefined || option.type === 'text'">
            <input name="access_key" ng-model="builder.activeOptions[option.name]">
            <label ng-bind="option.name"></label>
          </mdc-textfield>
          <mdc-form-field ng-if="option.type === 'bool'">
            <mdc-checkbox ng-model="builder.activeOptions[option.name]"></mdc-checkbox>
            <label ng-bind="option.name"></label>
          </mdc-form-field>
          <mdc-select ng-if="option.type === 'select'"
                      ng-model="builder.activeOptions[option.name]" prompt="{{option.name}}">
            <option ng-repeat="o in option.options" value="{{o}}" ng-bind="o"></option>
          </mdc-select>
        </div>
        <br>
        <mdc-button raised="true" color="primary" ng-click="builder.activeTab = 1">
          Preview
        </mdc-button>
      </div>
    </div>
  </div>

  <div flex layout="row" layout-align="center center" ng-if="builder.activeTab == 1">
    <div style="margin-top: 15px">
      <iframe ng-if="builder.activeTab == 1" ng-src="{{builder.generateSceUrl()}}"
              style="width: 100%; height: 400px; border: none;"></iframe>
    </div>
  </div>

  <div ng-if="builder.selectedWidget !== undefined" style="text-align:center;">
    <mdc-button raised="true" color="primary" ng-click="builder.show()">
      Open <mdc-icon>launch</mdc-icon>
    </mdc-button>
  </div>
</div>
